/* 
 * 
 * All the colours for the Nextcloud Breeze Dark Theme.
 *
*/

@import "sl";

/* Default Colors */
$background-active: $rgba-primary-0;
$background-active-alternate: $rgba-primary-3;
$background-active-hover: rgba(61, 174, 233, 0.25);
$background-alternate: rgba(77, 77, 77, 1);
$background-dark: rgba(35, 38, 41, 1);
$background-normal: $sl-background;
$background-negative: $rgba-secondary-1-3;
$background-neutral: rgba(246, 116, 0, 1);
$background-positive: $rgba-secondary-2-4;

$decoration-normal: rgba(112, 111, 110, 1);
$decoration-active: $rgba-primary-1;

$foreground-active: rgba(252, 252, 252, 1);
$foreground-inactive: rgba(189, 195, 199, 1);
$foreground-link: $rgba-primary-2;
$foreground-normal: rgba(239, 240, 241, 1);
$foreground-background: rgba(189, 195, 199, 0.6);

$foreground-negative: $rgba-secondary-1-3;
$foreground-neutral: rgba(246, 116, 0, 1);
$foreground-positive: $rgba-secondary-2-4;
$foreground-visited: rgba(127, 140, 141, 1);

$foreground-markdown-marker: rgba(189, 195, 199, 0.4);

/* Buttons*/
$button-background-active: $background-active;
$button-background-normal: $background-normal;
$button-background-dark: $background-dark;
$button-decoration-normal: $decoration-normal;
$button-decoration-active: $decoration-active;
$button-foreground-active: $foreground-active;
$button-foreground-inactive: $foreground-inactive;
$button-foreground-normal: $foreground-normal;

/* Input */
$input-background-normal: $background-dark;
$input-decoration-normal: $decoration-normal;
$input-decoration-active: $decoration-active;
$input-foreground-normal: $foreground-normal;
$input-foreground-active: $foreground-active;
$input-foreground-inactive: $foreground-inactive;

/*
 Default white for icons: rgba(242, 242, 242, 1)
*/